html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #303030;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.container{
  display: flex;
  height: 90vh;
}

.container-left{
  flex: 0 0 25%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.container-right {
  flex: 0 0 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 20px ;
  overflow-y: auto;
}

.note{
  width: 40%;
  background-color: #4f9fa2;
  padding: 20px 15px;
  border-radius: 10px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.note-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note-header{
  font-size: 22px;
  font-weight: 600;
}

.note-folder{
  width: fit-content;
  background-color: #e1d8d1;
  color: #4f9fa2;
  font-weight: 1000;
  padding: 5px 10px;
  border-radius: 5px;
}

.note-bottom{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-top: solid 1px lightgray;
  padding-top: 3px;
}

.note-content{
  padding: 15px 0;
  max-height: 100px;
  overflow-y: hidden;
}

.button {
  margin: 5px;
  min-width: 120px;
  border: none;
  border-radius: 5px;
  height: 35px;
  background-color: #465bc0;
  color: white;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  box-shadow: #465bc0;
}

.searchBar{
  width: 60%;
  border: none;
  margin-right: 15px;
  border-radius: 30px;
  background-color: lightgray;
  cursor: text;
  height: 35px;
}

.searchBar-input{
  width: 100%;
  background: none;
  border: none;
  line-height: 35px;
  margin-left: 20px;
  font-family: "Nunito", sans-serif;
}

input:focus {
  outline: none;
}

.top-div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 10vh;
  position: sticky;
  padding-right: 15px;
}

.top-div-right{
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.logo-text{
  font-family: "Reddit Mono", monospace;
  font-size: 24px;
  margin-left: 40px;
}

.folder{
  margin: 10px;
  padding: 15px 10px;
}
.dropdown{
  width: 87%;
}

.dropdown-menu {
  width: 20%;
  border: 1px solid #595858;
  border-top: none;
  display: block; /* Ensure items are displayed as block elements */
  position: absolute; /* Position the dropdown absolutely */
  top: calc(100%); /* Position the dropdown below the toggle button */
  left: 0; /* Align the dropdown with the left edge of the toggle button */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #504f4f;
}

.dropdown-item {
  padding: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  display: block;
  width: 20%;

}

.dropdown-toggle {
  margin-top: 25px;
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  background: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: none;
}

.adding-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.adding-form {
  width: 23%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  background-color: #504f4f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
}

.buttons-adding-form {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttons-adding-form :first-child{
  background-color: #e1d8d1 ;
  color: #303030;
}

.adding-form textarea {
  width: 87%;
  justify-self: flex-start;
  height: 130px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical; /* Allow vertical resizing */
  outline: none; /* Remove default outline */
  background: none;
  color: white;
  padding: 5px;
}

.delete-icon{
  margin-left: 10px;
  cursor: pointer;
}

.delete-icon:hover{
  color: red;
 }

.add-folder{
  cursor: pointer;
  align-self: flex-end;
  margin-right: 15px;
  font-size: 25px;
  position: fixed; /*naprawic kiedy bedzie duzo folderow*/
  bottom: 25px;
}

.add-folder:hover{
  color: lightgray;
}




