html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.container{
  display: flex;
}

.container-left{
  flex: 0 0 20%;
  border-right: 1px solid black;
}

.container-right {
  flex: 0 0 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffffff;
  font-family: Helvetica,sans-serif;
  padding-top: 20px ;
  overflow-y: auto;
}

.note{
  width: 42%;
  background-color: grey;
  padding: 20px 15px;
  border-radius: 5px;
}

.button{
  margin: 5px;
  min-width: 80px;
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.searchBar{
  flex: 0 0 70%;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: grey;
  padding: 8px;
}

.top-div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 10vh;
}

.top-div-right{
  display: flex;
  flex: 0 0 80%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.logo-text{
  color: black;
  margin-left: 10px;
}

.folder{
  background-color: grey;
  margin: 10px;
}

.dropdown-menu {
  width: 367px;
  padding: 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: block; /* Ensure items are displayed as block elements */
  position: absolute; /* Position the dropdown absolutely */
  top: calc(100% + 4px); /* Position the dropdown below the toggle button */
  left: 0; /* Align the dropdown with the left edge of the toggle button */
  overflow: hidden;
}

.dropdown-item {
  width: 367px;
  padding: 8px 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: block;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #333;
}

.dropdown-toggle {
  width: 367px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #f8f9fa;
  color: #333;
}

.adding-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  z-index: 999; /* Ensure the overlay is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.adding-form {
  width: 25%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
}

.buttons-adding-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.adding-form input {
  width: 90%;
  min-height: 90px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
